<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="mapper.AccountMapper">
	<select id="fileList" parameterType="String" resultType="Files">
		select * from Files where save_file like #{date} || '%'
	</select>
	
	<delete id="fileDelete" parameterType="String">
		delete from files where save_filename = #{file}
	</delete>

</mapper>