<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="mapper.DocumentMapper">
<insert id="insertfile" parameterType="Files">
insert into files values ('file'||files_seq.nextval,#{save_file},#{save_filename},#{memberno},#{filetype},null)
</insert>
<select id="selectfile" resultType="Files" parameterType="String">
select * from files where memberno=#{memberno} order by save_fileno
</select>
<select id="selectfileone" resultType="Files" parameterType="String">
select * from files where save_fileno=#{save_fileno}
</select>
<delete id="delfile" parameterType="String">
delete from files where save_filename=#{save_filename}
</delete>
<select id="searchfile" resultType="String" parameterType="Map">
select save_file from files where save_filename=#{save_filename} and memberno=#{memberno}
</select>
<select id="primaryDocList" resultType="Files">
	select * from files where filetype='f'
</select>
<select id="DocFormSearch" parameterType="String" resultType="Files">
select * from files where save_filename like '%' || #{searchKeyword} || '%' and filetype='f'
</select>
<select id="calltype" resultType="String" parameterType="String">
	select filetype from files where save_filename=#{save_filename}
</select>

</mapper>