<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="mapper.DocumentMapper">

<insert id="insertfile" parameterType="Files">
insert into files values ('file'||files_seq.nextval,#{save_file},#{save_filename},#{memberno},#{filetype},null)
</insert>

<select id="selectfile" resultType="Files" parameterType="String">
select * from files where memberno=#{memberno} and filetype != 'ima' and filetype!='genjou' and filetype!='keibi' order by save_fileno desc
</select>

<select id="selectword" resultType="Files" parameterType="String">
select * from files where memberno=#{memberno} and filetype = 'ima' or filetype='genjou' or filetype='keibi' order by save_fileno
</select>

<select id="selectfileone" resultType="Files" parameterType="String">
select * from files where save_fileno=#{save_fileno}
</select>

<delete id="delfile" parameterType="String">
delete from files where save_filename=#{save_filename}
</delete>

<select id="searchfile" resultType="String" parameterType="Map">
select save_file from files where save_filename=#{save_filename} and memberno=#{memberno}
</select>

<select id="primaryDocList" resultType="Files">
	select * from files where filetype='f'
</select>

<select id="DocFormSearch" parameterType="String" resultType="Files">
select * from files where save_filename like '%' || #{searchKeyword} || '%' and filetype='f'
</select>

<select id="calltype" resultType="String" parameterType="String">
select filetype from files where save_filename=#{save_filename}
</select>

<delete id="docFormDeleteF" parameterType="String">
	delete from files where save_fileno=#{save_fileno} and filetype='f'
</delete>
<select id="gettotal" parameterType="String" resultType="int">
select count(*)from files 
<if test="searchText != null">
where save_filename like '%' || #{searchText} || '%'
</if>
</select>

<select id="searchCreateFile" parameterType="String" resultType="String">
select save_filename 
from files 
where save_file=#{tmpName} and filetype like '%t%'
</select>
<update id="shareCreateFile" parameterType="hashmap" >
update files
set groupno=#{groupno}, filetype=#{filetype} 
where filetype='t' and memberno=#{memberno}
</update>
<select id="searchGroupFile" parameterType="String" resultType="Files">
select * from files where groupno=#{groupno}
</select>
<delete id="deleteTempFile" parameterType="String">
delete from files where filetype='t' and memberno=#{memberno}
</delete>

</mapper>